<p>qu triste triste..., peeeero lo hicimos! lo hicimos! lo hicimos! siiiii!</p>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Registro de Personas</h2>
            <form [formGroup]="formGroup">
                <div class="form-group">
                    <label>Identificacion</label>
                    <input type="text" name="identificacion" [(ngModel)]="credito.identificacion" formControlName="identificacion" class="form-control" [ngClass]="{ 'is-invalid':  control.identificacion.errors}" />
                    <div *ngIf="control.identificacion.errors"  class="invalid-feedback">
                        <div *ngIf="control.identificacion.errors.required">Se require el identificacion</div>
        </div>
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="nombre" [(ngModel)]="credito.nombre" formControlName="nombre" class="form-control " [ngClass]="{ 'is-invalid':  control.nombre.errors}" />
        <div *ngIf="control.nombre.errors"  class="invalid-feedback">
            <div *ngIf="control.nombre.errors.required">Se require el nombre</div>
</div>

</div>

<div class="form-group ">
    <label>Empleados</label>
    <input type="number" name="empleado" [(ngModel)]="credito.empleado" formControlName="barrio" class="form-control" [ngClass]="{ 'is-invalid':  control.empleados.errors}" />
    <div *ngIf="control.empleados.errors"  class="invalid-feedback">
        <div *ngIf="control.empleados.errors.required">Se require empleados bajo su mundo</div>
</div>
</div>
<div class="form-group ">
    <label>Activos</label>
    <input type="number " name="activos" [(ngModel)]="credito.activos" formControlName="activos" class="form-control" [ngClass]="{ 'is-invalid':  control.activos.errors}" />
    <div *ngIf="control.activos.errors"  class="invalid-feedback">
        <div *ngIf="control.activos.errors.required">Se require el activos del mes</div>
</div>
</div>

<div class="text-center ">
    <button class="btn btn-primary mr-1" (click)="onSubmit()" [disabled]="formGroup.invalid">Registrar</button>
    <button class="btn btn-secondary" type="reset ">Cancel</button>
</div>
</form>
</div>
</div>
</div>